DBX_APP_KEY="app key generated in dropbox app console."
DBX_APP_SECRET="app secret generated in dropbox app console."
DBX_ACCESS_TOKEN="access token of OAuth 2 generated in dropbox app console."
DBX_BASE_DIR="base directory path for not using wrong target directory."